body {
  font-family: sans-serif;
}

a {
  color: rgb(43, 99, 215);
  text-decoration: none;
}

/* Nav section */

header {
  background: rgba(51, 51, 51);
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  text-align: right;
  height: 55px;
  z-index: 9987;
  width: 100%;
  position:fixed ;
  overflow: hidden;
  display: block;
}

header p {
  color: white;
  margin-left: 20px;
  float: left;
}



ul {
  padding-left: 0px;
}

li {
  display: inline-block;
  color: rgb(249, 249, 249);
  padding: 0px 10px;
}

nav a {
  color: rgb(249, 249, 249);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}


/* Home Section */

#intro {
  background-color: black;
}

#home {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(249, 249, 249);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#badges {
  padding-bottom: 20px;
  background-color: black;
}

#badges img {
  max-height: 60px;
  
}

.badgeGroups {
  display: inline-block;
  margin-left: 20px;
}

#languages {
  margin-left: 80px;
}

#languages li {
  align-items: center;
}

#titleLeft {
  text-align: center;
}

#titleLeft h1 {
  padding-top: 140px;
  padding-left: 20px;
  font-size: 5vw;
}

#home p {
  text-align: right;
  padding-right: 50px;
}

#titleRight {
  display: block;
  margin-left: auto;
}

.title h2 {
  margin-left: 95px;
  font-size: larger;
}

#titleImage {
  min-width: 700px;
  max-width: 800px;
}

/* Portfolio Section */

.radio_tabs {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  padding: 18px;
  text-align: center;
  margin-bottom: 0px;
}

.radio_mark {
  text-align: center;
  color: black;
  width: 250px;
  padding: 10px;
}

.radio_tabs input[type="radio"] {
 opacity:0.011;
 z-index:100;
}

.radio_tabs label {
  border:3px solid #CCC; 
  cursor:pointer;
}

.radio_tabs label:hover {
  background:#DDD;
}

.radio_mark h4 {
  margin: 4px;
  font-size: large;
}

.wrapper h2 {
  margin: 10px;
}

.overview h2, .overview h3 {
  font-size: large;
}

.overview p {
  font-size: small;
}

.app-name {
  text-decoration: underline;
  margin-bottom: 10px;
}

.overview {
  display: inline-flex;
  grid-template-columns: auto auto;
  padding-right: 100px;
}

.overview-left img {
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;

}
.overview-point img {
  max-width: 50px;
}
.overview-point-with-icon-section-right {
  padding-left: 20px;
}
.overview-right {
  display: block;
}
.overview-point-with-icon {
  display: inline-grid;
  grid-template-columns: auto auto;
}




#apps, #websites {
  background-color: white;
  /* border: 1px solid black; */
  text-align: center;
}

#apps h2, #websites h2 {
  padding-bottom: 1em;
}

.app {
  display: inline-block;
  /* border: 1px solid red; */
  padding: 1rem 1rem;
  vertical-align: middle;
  min-width: 100px;
  max-width: 250px;
  vertical-align: top;
}

.icon {
  max-height: 50px;
}

.appElement {
  padding-top: 5px;
}

.app img {
  max-width: 180px;
}

.app p, .app h1, .app a {
  font-size: small;
}

.app h2, .app h3 {
  font-size: medium;
}
.app h3 {
  padding-top: 1px;
  padding-bottom: 2px;
} 

.app-tech {
  margin-bottom: 0px;
  font-size: small;
}


.wrapper {
  background-color: rgb(249, 249, 249);
  padding-bottom: 0px;
}



/* END portfolio section */

/* START Bio section */

#bio {
  /* border: 1px solid black; */
  padding: 1rem 1rem;
  text-align: center;
  height: fit-content;
  background-color: rgb(249, 249, 249);
}

.bioSection {
  background-color: rgb(249, 249, 249);
  margin: 10px;
  /* border: 1px solid red; */
  display: inline-block;
}

.carousel-caption p {
  font-size: small;
}

.bioSection h2, .bioSection h1 {
  font-size: medium;
}

.carousel-slide h3, .carousel-slide h4 {
  font-size: medium;
}

.bioSection p, .bioSection a {
  font-size: small;
}

.elevatorPitch {
  padding: 2em;
  margin: 2em;
}

#summary {
  float: left;
  text-align: left;
  width: 35%;
  padding-left: 40px;
}

#links ul {
  color: rgb(43, 99, 215);
  text-align: center;
}

#myStory img {
  margin: 50px;
  height: 400px;
}

.carousel-caption {
  background-color: black;
  opacity: 85%;
  font-size: small;
}
.carousel-indicators {
  opacity: 0%;
}

.project-links {
  text-align: center;
  padding-bottom: 10px;
}

.project-links a {
  margin: 20px;
}

/* Contact section */

#contact {
  background-color: rgb(249, 249, 249);
  /* border: 1px solid black; */
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

/* My Story Section */

#myStory {
  height: 400px;
  width: 650px;
}

/* Resume section */

#resume {
  background-color: rgb(51, 51, 51);
  /* border: 1px solid black; */
  padding: 2rem 2rem;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: white;
  display: flex;
  width: 100%;
}
#resume h2 {
  font-size: 30px;
  margin-left: 30px;
}

button {
  max-width: 100px;
}

/* Certifications section */
.gallery h2 {
  text-align: center;
  margin-bottom: 40px;
}

.gallery h3 {
  text-align: center;
  margin-top: 10px;
}

.gallery p {
  text-align: center;
}

.gallery {
  background-color: rgb(249, 249, 249);
  padding: 40px;
}

.gallery img{
  background-color: #fff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  cursor: pointer;
  border: solid 2px #000;
}

#gallery-modal .modal-img {
  width: 100%;
}

/* START resume Section */

#resume a {
  color: black;
}

/* END resume Section */

/* Footer Section */

footer {
  background: rgba(51, 51, 51);
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  z-index: 9987;
  width: 100%;
  position: absolute;
  overflow: hidden;
  display: block;
  color: white;
  font-size: small;
}

footer h3 {
  padding-bottom: 20px;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

.footerSection {
  display: inline-block;
  max-width: 35%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
}