body {
    font-family: sans-serif;
  }


















  


.box{
    display: none;
}
label{ margin-right: 15px; }

#apps {
    background-color: rgb(249, 249, 249);
    /* border: 1px solid black; */
    padding: 2rem 2rem;
    text-align: center;
  }
  
  #apps h1 {
    font-size: 3vw;
  }
  
  #apps h2 {
    padding-bottom: 1em;
  }
  
  .app {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 2.5rem;
    vertical-align: middle;
    min-width: 100px;
    max-width: 400px;
    vertical-align: top;
  }
  
  .app h3 {
    font-size: 1.7em;
  }
  
  .icon {
    max-height: 60px;
  }
  
  .appElement {
    padding-top: 20px;
  }
  
  .appElement p {
    size: small;
  }
  
  .viewAllButton {
    padding-top: 30px;
  }
  
  .app img {
    max-width: 320px;
  }